/* 
Layout 
---------------------------------------*/

.l-left{
  text-align: right;
}

/* Centering */

.l-wrapper {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

